@media (max-width: 800px) {
  .login-form {
    width: 90%;
  }
}

.login-form-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.login-form {
  width: 40%;
  min-width: 300px;
}

.login-form .login-button {
  background-color: #3C4252;
  color: #fff;
}

.login-form .login-button:hover {
  background-color: rgb(41, 48, 61);
}