@media (max-width: 800px) {
  .register-form {
    width: 90%;
  }
}

.register-form-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.register-form {
  width: 40%;
  min-width: 300px;
}

.register-form .register-button {
  background-color: #3C4252;
  color: #fff;
}

.register-form .register-button:hover {
  background-color: rgb(18, 23, 31);
}
